@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@theme {
  --color-dark: #34313d;
  --color-purple: #3a3054;
  --color-light-purple: #4b3f6b;
  --color-gray: #9e9aa8;
  --color-background: #eff1f7;
  --color-accent: #2bd0d0;
  --color-header-link: #9e9aa8;
  --color-footer-link: #bfbfbf;
}